# Application environment (e.g., development, production, staging)
ENV=development

# Port number for the application server to listen on
PORT=3000

# Contentful CMS Configuration
CONTENTFUL_SPACE_ID=your_contentful_space_id
CONTENTFUL_ACCESS_TOKEN=your_contentful_access_token
CONTENTFUL_ENVIRONMENT=your_contentful_environment
CONTENTFUL_CONTENT_TYPE=your_contentful_type
CONTENTFUL_HOST=your_contentful_host
